@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */

html, body {
  font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
}


.form-check-input:checked {
    background-color: rgb(246, 163, 163);
    border-color: red;
}
h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  
  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
  
  h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  
  h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  
  p, span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .loading-spinner {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Light overlay */
  z-index: 1000; /* Ensure it appears on top */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px; /* Width of the spinner */
  height: 60px; /* Height of the spinner */
  animation: spin 1s linear infinite; /* Animation for rotation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  
