.category-image {
    transition: transform 0.3s ease-in-out;
  }
  
  .category-hover:hover .category-image {
    transform: scale(1.1);
  }
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.2) !important; /* Giảm độ tối */
  }
  